<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1>Welcome to login Page</h1>
      <br />
      <div>
        <a
          href="auth/google"
          style="
            text-decoration: none;
            color: white;
            padding: 12px 20px;
            background: orange;
          "
          >continue with Google</a
        >
        <a
          href="auth/facebook"
          style="
            text-decoration: none;
            color: white;
            padding: 12px 20px;
            background: dodgerblue;
          "
          >continue with Facebook</a
        >
      </div>
    </div>
  </body>
</html>
